/************
* variables *
************/
$primary: #6667cc;
$secondary: #67cc66;
$header-height: 15vh;
$links-padding: 1rem;

html, body, p {
	margin: 0;
	padding: 0;
	font-family: Comfortaa, Sans-Serif;
}

body {
	ul, li {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	#grid {
		$break: 800px;

		width: 100vw;
		min-height: 100vh;
		display: grid;
		grid-auto-flow: dense;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(5, 1fr);
		@media screen and (max-width: $break) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
		}

		a {
			text-decoration: none;
			transition: filter 1s;

			&:hover {
				filter: invert(1);
			}
		}

		.box {
			color: #fff;
			font-size: 1.5rem;
			@media screen and (max-width: $break){
				font-size: 1rem;
			}

			display: flex;
			text-align: center;
			align-items: center;
			justify-content: center;
		}

		.group-h {
			display: grid;
			grid-template-columns: repeat( auto-fit, minmax(0px, 1fr) );
		}
		.group-v {
			display: grid;
			grid-template-rows: repeat( auto-fit, minmax(0px, 1fr) );

		}

		#rowan {
			// 2
			grid-column: 3 / span 2;
			grid-row: 3 / span 1;
			@media screen and (max-width: $break) {
				grid-column: 1 / span 2;
				grid-row: 1 / span 1;
			}
			background-color: #fff;
			color: #000;
		}
		#webdev {
			// 2
			grid-column: span 2;
			grid-row: span 1;
			background-color: #6E4155;
		}
		#sound {
			// 2
			grid-column: span 1;
			grid-row: span 2;
			background-color: #8a68b9;
		}
		#ggw {
			// 2
			grid-column: span 2;
			grid-row: span 1;
			background-color: #ddff00;
			color: #000;
		}
		#romp {
			// 1
			grid-column: span 1;
			grid-row: span 1;
			background: #ffe url(http://www2.oberlin.edu/stuorg/dromp/assets/graphics/bg.png) 0 0 repeat;
			color: #000;
		}
		#pylodon {
			// 3
			grid-column: span 3;
			grid-row: span 1;
			background-color: $secondary;
		}
		#github {
			// 2
			grid-column: span 1;
			grid-row: span 2;
			background-color: #24292e;
			@media screen and (max-width: $break) {
				grid-column: span 2;
				grid-row: span 1;
			}
		}
		#gitlab {
			// 2
			grid-column: span 1;
			grid-row: span 2;
			background-color: #EC753C;
			@media screen and (max-width: $break) {
				grid-column: span 2;
				grid-row: span 1;
			}
		}
		#contact {
			// 6
			grid-column: span 2;
			grid-row: span 2;
			#email {
				grid-column: span 1;
				background-color: #ae91e8;
			}
			#phone {
				grid-column: span 1;
				background-color: #37852a;
			}
		}
		#twitter {
			// 1
			grid-column: span 1;
			grid-row: span 2;
			background-color: #1da1f2;
		}
		#blog {
			// 4
			grid-column: span 2;
			grid-row: span 2;
			background-color: #000;
			color: #fff;
		}
		#morris {
			// 1
			grid-column: span 1;
			grid-row: span 1;
			background-color: #663399;
		}
		#keybase {
			// 3
			grid-column: span 3;
			grid-row: span 1;
			background-color: #33a0ff;
		}
	}
}